<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/account">前往account页面</a>
  <h2>添加记录</h2>
    <form action="/account/create" method="post">
      事项<input type="text" name="title"><br>
      <label >时间<input type="date" name="time"></label><br>
      类型<select name="type" default-value=-1>
        <option value=1>收入</option>
        <option value=-1 selected>支出</option>
      </select><br>
      金额 <input type="text" name="account"><br>
      备注 <input type="text" name="remarks"><br>
      <input type="submit" value="添加">
    </form>
  </body>
</html>
